<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489090893543-h05b8gi68of18og4bb4dsgmfknkj95i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489090893543-h05b8gi68of18og4bb4dsgmfknkj95i6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489090893543-1100skpul6449gl2qpg6ng5kmrh31s1g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALODPuh9sbjorXW3begGpAloXAWEIip3w</string>
	<key>GCM_SENDER_ID</key>
	<string>489090893543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirismedia.quizparan</string>
	<key>PROJECT_ID</key>
	<string>quiz-paran</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-paran.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489090893543:ios:84520cd2dea6d605cf0442</string>
</dict>
</plist>